.item{
  border-bottom: 1px solid #fafafa;
  padding: 10px 16px;
  overflow: scroll;
}

.item:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.item h5{
  font-weight: bold;
}

.vaccine-daily{
  color: lightseagreen;
}

.vaccine-total{
  color: #f3bdbd;
}