.cases{
  background-color: #fcbf49;
  text-align: center;
  border-radius: 5px;
  width: 50%;
  overflow: hidden;
}

.recovered{
  background-color: #7cb518;
  text-align: center;
  border-radius: 5px;
  width: 50%;
  overflow: hidden;
}

.deaths{
  background-color: #d00000;
  text-align: center;
  border-radius: 5px;
  width: 50%;
  overflow: hidden;
}

.state{
  background-color: rgba(231, 231, 231, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
}

.state-name{
  text-align: center;
}

#state-row{
  width: 100%;
  overflow: hidden;
}

/* .form-control{
  height: 100%;
} */

