
.state{
  background-color: rgba(231, 231, 231, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  
}

.state-name{
  text-align: center;
}

#state-row{
  width: 100%;
  overflow: hidden;
}

#map-row{
  width: 100%;
  overflow: hidden;
  background-color: lightskyblue;
}

/* .form-control{
  height: 100%;
} */

